<div class="container">
  <div class="portlet light bordered box-shadow">
    <div class="portlet-title">
      <div class="caption font-dark-sunglo">
        <i class="icon-user font-dark-sunglo"></i>
        <span class="caption-subject bold uppercase">User Signup</span>
      </div>
      <button (click)="back()" id="register-back-btn" type="button" class="btn grey-salsa btn-outline pull-right">
        Back
      </button>
    </div>
    <div class="portlet-body form">
      <form id="registerForm" #registerForm="ngForm" (ngSubmit)="onSubmit(registerForm)">
        <div class="margin-bottom-10">
          <div class="col-sm-3 margin-top-10">
            <div>Permission Level</div>
          </div>
          <div class="col-sm-9">
            <div class="mt-radio-inline">
              <label class="mt-radio">
                <input type="radio" (click)="SelectRole('admin')" name="optionsRadios1">
                Admin
                <span></span>
              </label>
              <label class="mt-radio">
                <input type="radio" (click)="SelectRole('paralegal')" name="optionsRadios1">
                Paralegal
                <span></span>
              </label>
              <label class="mt-radio">
                <input type="radio" (click)="SelectRole('attorney')" name="optionsRadios1" checked>
                Attorney
                <span></span>
              </label>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <!-- BEGIN FORM-->
            <div class="form-group">
              <input class="form-control" type="text" placeholder="First Name" name="first_name"
                     [(ngModel)]="profile.first_name" [ngModelOptions]="{standalone: true}"
                     required/>
            </div>
            <div class="form-group">
              <input class="form-control" type="text" placeholder="Middle Name" name="middle_name"
                     [(ngModel)]="profile.middle_name" [ngModelOptions]="{standalone: true}"
                     required/>
            </div>
            <div class="form-group">
              <input class="form-control" type="text" placeholder="Last Name" name="last_name"
                     [(ngModel)]="profile.last_name" [ngModelOptions]="{standalone: true}"
                     required/>
            </div>
            <div class="form-group">
              <input class="form-control" type="text" placeholder="TelephoneNumber Number" name="telephone_number"
                     [(ngModel)]="profile.telephone_number" [ngModelOptions]="{standalone: true}" required/>
            </div>
            <div class="form-group">
              <input class="form-control" type="text" placeholder="Mobile Number" name="mobile_number"
                     [(ngModel)]="profile.mobile_number" [ngModelOptions]="{standalone: true}" required/>
            </div>
            <div class="form-group">
              <input class="form-control" type="text" placeholder="Fax Number" name="fax_number"
                     [(ngModel)]="profile.fax_number" [ngModelOptions]="{standalone: true}" required/>
            </div>
            <div class="form-group">
              <label class="control-label">Country</label>
              <div id="countrySelector"></div>
            </div>
            <div class="form-group">
              <label class="control-label">State</label>
              <div id="stateSelector"></div>
            </div>
            <div class="form-group">
              <input type="text" class="form-control" placeholder="Province" name="province"
                [(ngModel)]="profile.province" [ngModelOptions]="{standalone: true}" required>
            </div>
            <div class="form-group">
              <input type="text" class="form-control" placeholder="City" name="city"
                [(ngModel)]="profile.city" [ngModelOptions]="{standalone: true}" required>
            </div>
            <div class="form-group">
              <input class="form-control" type="text" placeholder="Street" name="street"
                     [(ngModel)]="profile.street" [ngModelOptions]="{standalone: true}" required/>
            </div>
            <div class="form-group margin-top-20">
              <table>
                <tr>
                  <td>Apt.</td>
                  <td>Ste.</td>
                  <td>Flr.</td>
                  <td>Number</td>
                </tr>
                <tr>
                  <td>
                    <label class="mt-checkbox mt-checkbox-outline">
                      <input type="checkbox" name="apartment" [(ngModel)]="profile.apartment" [ngModelOptions]="{standalone: true}"
                        (change)="onAptTypeChanged($event, 'apartment')" />
                      <span></span>
                    </label>
                  </td>
                  <td>
                    <label class="mt-checkbox mt-checkbox-outline">
                      <input type="checkbox" name="suite" [(ngModel)]="profile.suite" [ngModelOptions]="{standalone: true}" (change)="onAptTypeChanged($event, 'suite')" />
                      <span></span>
                    </label>
                  </td>
                  <td>
                    <label class="mt-checkbox mt-checkbox-outline">
                      <input type="checkbox" name="floor" [(ngModel)]="profile.floor" [ngModelOptions]="{standalone: true}" (change)="onAptTypeChanged($event, 'floor')" />
                      <span></span>
                    </label>
                  </td>
                  <td>
                    <input class="form-control" type="text" placeholder="" name="apt_number" [(ngModel)]="profile.apt_number"
                      [ngModelOptions]="{standalone: true}" required />
                  </td>
                </tr>
              </table>
            </div>
            <div class="form-group">
              <input class="form-control" type="text" placeholder="Zip Code" name="zip_code"
                [(ngModel)]="profile.zip_code" [ngModelOptions]="{standalone: true}"
                required/>
            </div>
            <!-- END FORM-->
          </div>
          <div class="col-md-6">
            <!-- BEGIN FORM-->
            <div class="form-group">
              <input class="form-control" type="email" placeholder="Email" name="email"
                [(ngModel)]="user.email" [ngModelOptions]="{standalone: true}" required/>
            </div>
            <div class="form-group">
              <input class="form-control placeholder-no-fix" type="password" autocomplete="off" id="register_password"
                placeholder="Password" name="password" [(ngModel)]="user.password" [ngModelOptions]="{standalone: true}" required/>
            </div>
            <div class="form-group">
              <input class="form-control placeholder-no-fix" type="password" autocomplete="off"
                placeholder="Confirm Password" name="rpassword" [(ngModel)]="retype_password" [ngModelOptions]="{standalone: true}" required/>
            </div>
            <div class="form-group">
              <input class="form-control" type="text" placeholder="State Bar Number" name="bar_number"
                [(ngModel)]="profile.bar_number" [ngModelOptions]="{standalone: true}" required/>
            </div>
            <div id="lawfirmSelectorContainer" class="form-group">
              <label>Select Lawfirm</label>
              <div id="lawfirmSelector"></div>
            </div>
            <div class="form-group">
              <input class="form-control" type="password" name="lawfirm_password" placeholder="Law Firm Password"
                [(ngModel)]="lawfirm_password" [ngModelOptions]="{standalone: true}"
                required/>
            </div>
            <div class="form-group">
              <input class="form-control" type="text" placeholder="USCIS Account Number" name="uscis_account_number"
                [(ngModel)]="profile.uscis_account_number" [ngModelOptions]="{standalone: true}"
                required/>
            </div>
            <div class="form-group">
              <label>Date accreditation expires</label>
              <input class="form-control" type="date" name="accereditation_expires_date"
                [(ngModel)]="profile.accereditation_expires_date" [ngModelOptions]="{standalone: true}"
                required/>
            </div>
            <div class="form-group">
              <input class="form-control" type="text" placeholder="Licensing Authority" name="licensing_authority"
                [(ngModel)]="profile.licensing_authority" [ngModelOptions]="{standalone: true}"
                required/>
            </div>
            <div class="form-group">
              <input class="form-control" type="text" placeholder="Bar Numer (if applicable)" name="bar_number"
                [(ngModel)]="profile.bar_number" [ngModelOptions]="{standalone: true}" />
            </div>
            <div class="form-group">
              <label class="mt-checkbox mt-checkbox-outline">
                <input id="isSubjectCheck" type="checkbox" name="is_subject_to_any" [(ngModel)]="profile.is_subject_to_any" [ngModelOptions]="{standalone: true}" />
                &nbsp;I AM subject to any order suspending, enjoining, restraining, disbarring, or otherwise restricting me in the practice of law
                <span></span>
              </label>
              <textarea *ngIf="profile.is_subject_to_any" class="form-control" type="text" placeholder="Please explain..." name="subject_explaination"
                [(ngModel)]="profile.subject_explaination" [ngModelOptions]="{standalone: true}"
                required></textarea>
            </div>
            <div class="form-group">
              <input class="form-control" type="text" placeholder="Signature of Preparer" name="preparer_signature"
                [(ngModel)]="profile.preparer_signature" [ngModelOptions]="{standalone: true}"
                required/>
            </div>
            <div class="margin-bottom-10">
              <div class="form-group">
                <div class='row'>
                  <div class="col-md-2 pull-left">
                    <label>Captcha</label>
                  </div>
                  <div class="col-md-4" id="captcha_component">
                    <img src={{captcha_image}} style="width: 100%">
                    <p>
                      [ <a (click)="getCaptcha()">Generate a new code</a> ]
                    </p>
                  </div>
                  <div class="col-md-6">
                    <input class="form-control" type="text" id="captcha" [(ngModel)]="captcha_value" [ngModelOptions]="{standalone: true}"
                           required/>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <hr />
        <div class="form-group text-center margin-top-30">
          <button type="submit" id="register-submit-btn" class="btn green" style="width: 250px; padding: 10px 0;">
            Sign Up
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
